<section class="section-users">
  <div class="section-users__header">
    <h2 class="section-users__title">Журнал</h2>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 section-rating__table table-rating table-custom">
    <ng-container matColumnDef="login">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Инициатор </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.initiator}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="faculty">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Действие </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.actionType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Объект</mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.domainType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell class="table-custom__header-cell" *matHeaderCellDef> Дата </mat-header-cell>
      <mat-cell class="table-custom__cell" *matCellDef="let element"> {{element.dateTime | date: "dd.MM.yyyy HH:mm"}} </mat-cell>
    </ng-container>


    <mat-header-row class="table-custom__header" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table-custom__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
