<section class="section-events">
  <div class="section-events__header">
    <h2 class="section-events__title">События</h2>
    <mat-icon class="section-events__icon-add icon-clicked" matTooltip="Добавить событие"
              *ngIf="canEdit"
              (click)="openAddNewsModal(FormMode.ADD)">add</mat-icon>
  </div>
  <div class="news-set">

    <article class="news" *ngFor="let event of events">
      <header class="news__header">
        <h3 class="news__title">
          {{events.label}}
        </h3>
        <div class="actions">
          <mat-icon class="news__edit icon-clicked" (click)="openAddNewsModal(FormMode.EDIT, event)">edit</mat-icon>
          <mat-icon class="news__delete icon-clicked">delete</mat-icon>
        </div>

      </header>
      <p class="news__info">
        {{events.description}}
      </p>
      <footer class="news__footer">
        <span class="news__date">Aug 6</span>
      </footer>
    </article>
  </div>

</section>
