<section class="section-news">
  <div class="section-news__header">
    <h2 class="section-news__title">{{news.label}}</h2>
  </div>
  <div class="news-set">

    <article class="news">
      <header class="news__header">
        <div class="actions">
        </div>

      </header>
      <p class="news__info">{{news.description}}</p>
      <footer class="news__footer">
        <span class="news__date">{{news.date | date: 'dd.MM.yyyy'}}</span>
      </footer>
    </article>

  </div>

  <div class="map" *ngIf="news.mapMarker" id="map" #map></div>

</section>
